@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#container {
    margin: 0;
    padding: 10em;
}

div#input-container {
    margin: 2em auto;
    padding: 0;
}

div#table-container {
    margin: 2em auto;
    padding: 0;
}

table#student-record-table {
    width: 100%;
    margin-bottom: 3em;
    border-top: solid 2px #bbb;
}

table#student-record-table tr {
    width: 100%;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

table#student-record-table tr th, 
table#student-record-table tr td {
    padding: 0.5em 0;
}

